<%- include("partials/header.ejs") %>
    <form action="/submit" method="POST">
        <input type="text" name="title" class="form-input" placeholder="Title" />
        <textarea name="content" class="form-input" placeholder="Content"></textarea>
        <input type="submit" value="SUBMIT" />
    </form>
<%- include("partials/footer.ejs") %>